body{
    background-color: black;
    padding: 0px;
    margin: 0px;
}

main{
    display: grid;
    align-items: center;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sect_main{
    opacity: 0;
    transition: 0.5s ease-in-out;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(225px,1fr));
    row-gap: 50px;
}

img{
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 5px;
    border: solid white 1px;
    box-shadow: 0px 0px 16px 8px rgba(255, 255, 255, 0.25);
}


p,h1,h2,h3,h4,a,img{
    margin: 0px;
    padding: 0px;
    color: white;
}